/* Autor:  Jordi Galí */

:root {
  --blau_accent: #902fcc;
}

.text {
  color: var(--blau_accent);
}

.text .A {
  position: absolute;
  top: 50%;
  left: -10%;
  animation: moverXA 1s forwards ease-in-out;   
}

@keyframes moverXA {
  0% {
    left: 0; 
  }
  100% {
    left: calc(50% + 6%);
  }
}

.text .L {
  position: absolute;
  top: 50%;
  left: -10%;
  animation: moverXL 1s forwards ease-in-out; 
  animation-delay: 0.5s;
}

@keyframes moverXL {
  0% {
    left: 0; 
  }
  100% {
    left: calc(50% + 2.5%);
  }
}

.text .O {
  position: absolute;
  top: 50%;
  left: -10%;
  animation: moverXO 1s forwards ease-in-out; 
  animation-delay: 1s;
}

@keyframes moverXO {
  0% {
    left: 0; 
  }
  100% {
    left: calc(50% - 2.5%);
  }
}

.text .H {
  position: absolute;
  top: 50%;
  left: -10%;
  animation: moverXH 1s forwards ease-in-out;      
  animation-delay: 1.5s;
}

@keyframes moverXH {
  0% {
    left: 0; 
  }
  100% {
    left: calc(50% - 7%);
  }
}