:root {
  --blau_fosc: #2f27ce;
  --blau_accent: #902fcc;
  --blanc: #fbfbfe;
  --negre: #050315;
}

.pilota {
  width: 300px;
  height: 300px; 
  border-radius: 150px;
  background-color: var(--blau_fosc); 
  position: absolute;
  top: 0; 
  left: 50%; 
  transform: translateX(-50%);
  animation: iryvenir 2s ease-in-out infinite;
}

@keyframes iryvenir {
  0%, 100% {
    top: 0;
    height: 300px;
    border-radius: 150px;
  }
  35%  {
    height: 300px;
    border-radius: 150px;
  }
  50% {
    top: calc(100% - 230px);
    height: 200px;
    border-radius: 120px;
  }
  65%  {
    height: 300px;
    border-radius: 150px;
  }
}